i{
    margin: 0 4px;
}
.fa-check{
    color: #45f73b;
}

.fa-yen-sign, .fa-heart, .fa-running{
    color: #f74b3b;
}

.fa-facebook,.fa-dog, .fa-comment{
    color: #408cff;
}

.fa-snowman, .fa-dumbbell{
    color: #c9c538;
}
.fa-guitar{
    color: #4a3e40;
}
